apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: pdfdiff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: localhost/pdfdiff-turbo-admin:1.1.20
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: pdfdiff
spec:
  selector:
    app: admin
  ports:
    - name: http
      port: 80
      targetPort: 80
