apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata
  namespace: pdfdiff
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pdfdiff-data
  namespace: pdfdiff
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
