apiVersion: apps/v1
kind: Deployment
metadata:
  name: viewer
  namespace: pdfdiff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: viewer
  template:
    metadata:
      labels:
        app: viewer
    spec:
      containers:
        - name: viewer
          image: localhost/pdfdiff-turbo-viewer:1.1.3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: viewer
  namespace: pdfdiff
spec:
  selector:
    app: viewer
  ports:
    - name: http
      port: 80
      targetPort: 80
